stages:
  - lint
  - test
  - package
  - deploy

variables:
  PROJECT_NAME: "devops-ci-lab"
  LOG_DIR: "logs"

lint:
  stage: lint
  script:
    - echo "Running shellcheck..."
    - sudo apt-get update -qq && sudo apt-get install -y shellcheck
    - shellcheck *.sh || true
  artifacts:
    when: always
    paths:
      - shellcheck.log
    expire_in: 1 week

test:
  stage: test
  script: 
    - set -a
    - source .env
    - set +a
    - echo "Running in $ENVIRONMENT mode..."
    - bash -n *.sh
    - mkdir $LOG_DIR && touch $LOG_DIR/report.txt
    - ./system_report.sh > $LOG_DIR/report.txt
  artifacts:
    when: always
    paths:
      - $LOG_DIR
    expire_in: 1 week

package:
  stage: package
  script:
    - mkdir -p builds
    - tar -czf builds/$PROJECT_NAME-$(date +%F).tar.gz $LOG_DIR
  artifacts:
    when: always
    paths:
      - builds/
    expire_in: 2 weeks

deploy:
  stage: deploy
  script:
    - echo "Starting deployment..."
    - mkdir -p /tmp/devops_deploy
    - cp -r builds/*.tar.gz /tmp/devops_deploy/
    - echo "Deployment successful at $(date)" > /tmp/devops_deploy/deploy.log
  when: manual
  only: 
    - main
  tags:
    - local-runner

deploy_staging:
  stage: deploy
  dependencies:
    - package
  script:
    - echo "Starting deployment staging.."
    - mkdir -p /tmp/staging_devops_deploy
    - cp -r builds/*.tar.gz /tmp/staging_devops_deploy/
    - echo "Staging deployment successful at $(date '+%F %H:%M')" > /tmp/staging_devops_deploy/staging_deploy.log
  environment:
    name: production
    url: https://fake-prod.example.com  
  when: on_success
  only:
    - main
  tags:
    - local-runner
